#graph {
    position: relative;
}

.gr {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

.left {
    float: left;
}

.clear {
    clear: left;
}

td {
    width: 20px;
}

.wide {
    width: 80px;
}

.big {
    font-size: 3em;
}